spring:
  profiles:
    active: dev

  datasource:
    url: jdbc:postgresql://localhost:5432/maispra_ti_db
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: false   # ADICIONE ESTA LINHA

server:
  port: 8080

jwt:
  secret: minha-chave-secreta-super-longa-e-segura-para-api-prati-123
  expiration: 86400000

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
  security:
    enabled: false